.link {
  display: block;
}

.header {
  @include bg-image;
  background-image: url(../images/header/header-bg.svg);
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;

  &::after {
    @include pseudo;
    @include size(270px, 111px);
    @include bg-image;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/header/kids.svg);
  }
}

.header__top {
  margin-bottom: 80px;
}

.header__logo-img {
  @include size(83px, 22px);
}

.header__main {
  text-align: center;
}

.header__main-title {
  @include font-settings(16px, 22px);
  letter-spacing: 0.48px;
  font-family: $main-text-font;
  color: $main-light-color;
  margin-bottom: 34px;
}

.header__main-text {
  @include font-settings(20px, 26px, 700);
  letter-spacing: 0.8px;
  font-family: $main-text-font;
  color: $main-light-color;
  margin-bottom: 34px;
}

.header__main-link {
  @include font-settings(15px, 18px, 700);
  font-family: $main-text-font;
  letter-spacing: 0.9px;
  color: $main-light-color;
  padding-bottom: 138px;
}

.header__link-title {
  border-bottom: 2px solid rgba($main-light-color, 0.3);
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }

  .header__main-title {
    padding: 0 50px;
  }
}

@media (min-width: 768px) {
  .header {
    padding-top: 50px;
    padding-bottom: 34px;

    &::after {
      @include size(672px, 278px);
    }
  }

  .header__top {
    margin-bottom: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo-img {
    @include size(110px, 29px);
  }

  .nav {
    display: flex;

    &__link {
      @include font-settings(15px, 18px);
      font-family: $main-text-font;
      color: $main-light-color;
      letter-spacing: 0.75px;
      transition: all 200ms linear;
      position: relative;

      &::after {
        @include pseudo;
        position: absolute;
        left: 0;
        width: 0;
        height: 2px;
        background-color: rgb(252, 191, 44);
        margin-top: 8px;
        transition: all 200ms linear;
      }

      &:hover::after,
      &:focus::after {
        width: 100%;
      }

      &:hover,
      &:focus {
        color: rgb(252, 191, 44);
      }

      &:not(:last-child) {
        margin-right: 72px;
      }
    }
  }

  .header__main {
    padding: 0 120px;
  }

  .header__main-title {
    @include font-settings(20px, 20px);
    letter-spacing: 0.6px;
    margin-bottom: 48px;
  }

  .header__main-text {
    @include font-settings(35px, 42px, 700);
    letter-spacing: 1.4px;
    margin-bottom: 50px;
  }

  .header__main-link {
    padding-bottom: 318px;
  }
}

@media (min-width: 1420px) {
  .header {
    padding-top: 54px;
    padding-bottom: 48px;

    &::after {
      @include size(1420px, 588px);
    }
  }

  .header__top {
    margin-bottom: 102px;
  }

  .header__logo-img {
    @include size(188px, 49px);
  }

  .nav {

    &__link {
      @include font-settings(23px, 23px);
      letter-spacing: 1.15px;

      &:not(:last-child) {
        margin-right: 92px;
      }
    }
  }

  .header__main {
    padding: 0 70px;
  }

  .header__main-title {
    @include font-settings(36px, 36px);
    letter-spacing: 1.08px;
    margin-bottom: 74px;
  }

  .header__main-text {
    @include font-settings(60px, 60px, 700);
    letter-spacing: 3.6px;
    margin-bottom: 82px;
  }

  .header__main-link {
    @include font-settings(30px, 30px, 700);
    letter-spacing: 1.8px;
    padding-bottom: 598px;
  }
}
