  .section__teachers {
    padding-top: 90px;
    padding-bottom: 120px;
  }

  .section-title {

    &__teachers-list {
      position: relative;
      margin: 0 auto;
    }

    &__slider-button {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 270px;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -30%);
    }

    &__slider-ctrl {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
      z-index: 1;
      background-size: 30%;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 1.5px 2.598px 9px 0px rgba(2, 2, 1, 0.1);

      &-prev {
        transform: translateX(-50%);
      }

      &-next {
        transform: translateX(50%);
      }
    }
  }

  .icon__social-svg {
    fill: #ccc;
    width: 16px;
    height: auto;
  }

  .section-title__slider-ctrl:hover .icon__social-svg {
    fill: rgb(95, 124, 236);
  }

  .img-wrap {
    position: relative;

    &__name {
      display: inline-block;
      position: absolute;

      &-teacher {
        position: absolute;
        bottom: -18px;
        left: 30px;
        border: none;
        height: 35px;
        width: 218px;
        background-color: rgb(95, 124, 236);
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        line-height: 35px;
        letter-spacing: 0.49px;
        text-transform: uppercase;
        font-family: $main-text-font;
      }
    }
  }

  .teachers-list {

    &__item {
      box-shadow: 0 0 20px 0 #ccc;
      width: 290px;
      margin: 0 auto;

      &__desktop {
        display: none;
      }
    }

  }

  .teacher__photo {
    height: auto;
  }

  .list-skills {
    margin-top: 44px;
    font-size: 14px;
    line-height: 30px;
    font-family: $main-text-font;

    &__item {
      color: $secondary-dark-color;
      padding-left: 16px;
    }

    &__descriptions {
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      padding-left: 16px;
      padding-bottom: 50px;
      font-family: $main-text-font;
    }
  }

  @media (min-width: 768px) and (max-width: 1399px) {
    .section__teachers {
      overflow: hidden;
      min-width: 100%;
    }
  }

  @media (min-width: 768px) {
    .section__teachers {
      padding-top: 120px;
      padding-bottom: 140px;
    }

    .section-title {
      margin-bottom: 50px;

      &__slider-button {
        width: 384px;
        left: 50%;
        transform: translateX(-50%);
        top: 45%;
      }

      &__slider-ctrl {
        height: 52px;
        width: 52px;

        &-prev {
          transform: translateX(-50%);

        }

        &-next {
          transform: translateX(50%);
        }
      }
    }

    .teachers-list {
      display: flex;
      justify-content: center;
      font-size: 16px;

      &__item {
        width: 380px;
        padding-bottom: 30px;
        flex-shrink: 0;

        &__desktop {
          display: block;
        }
      }
    }

    .first-teacher {
      order: 2;
    }

    .second-teacher {
      order: 1;
      transform: translateX(-60px);
    }

    .third-teacher {
      order: 3;
      transform: translateX(60px);
    }

    .list-skills {
      font-size: 16px;

      &__item {
        padding-left: 24px;
        padding-right: 30px;
      }

      &__descriptions {
        padding-right: 30px;
        margin-top: 20px;
        font-size: 16px;
        padding-bottom: 0;
        padding-left: 24px;
      }
    }
  }

  @media (min-width: 1420px) {

    .section__teachers {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    .img-wrap {

      &__name-teacher {
        text-shadow: 16px;
      }
    }

    .teachers-list {
      justify-content: space-around;
      margin: 0 30px;
    }

    .list-skills {
      font-size: 16px;

      &__descriptions {
        font-size: 16px;
      }
    }
  }
