.anounce {
  padding-top: 36px;
  padding-bottom: 14px;

  &__title {
    padding: 0 20px;
    font-family: $main-text-font;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;


    &-span {
      color: $yellow-accent-color;
    }
  }
}

.anounce__img-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anounce__img {

  &-tablet {
    display: none;
  }

  &-desktop {
    display: none;
  }
}



@media (min-width: 768px) {
  .anounce {
    padding-top: 70px;
    padding-bottom: 30px;

    &__title {
      font-size: 35px;
      line-height: 45px;
      padding: 0 114px;
      margin-bottom: 30px;
    }
  }

  .text-break-mobile {
    display: none;
  }

  .anounce__img {

    &-tablet {
      display: block;
    }

    &-mobile {
      display: none;
    }

    &-desktop {
      display: none;
    }
  }
}

@media (min-width: 1420px) {
  .anounce {
    padding-top: 70px;
    padding-bottom: 30px;

    &__title {
      font-size: 55px;
      line-height: 75px;
      letter-spacing: 1.65px;
      text-align: left;
      padding: 0 80px;
      margin: 0;
    }
  }

  .anounce-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .anounce__img {

    &-tablet {
      display: none;
    }

    &-mobile {
      display: none;
    }

    &-desktop {
      display: block;
    }
  }
}
