  .section__anounce {
    padding-top: 40px;
    padding-bottom: 20px;
    overflow: hidden;

    &--title {
      padding-top: 24px;
      padding-left: 20px;
      padding-right: 20px;
      font-family: $main-text-font;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      margin-bottom: 50px;
    }

    &--text {
      color: $yellow-accent-color;
    }

    &--images {
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;
      position: relative;
    }
  }

  .children__anounce--photo {
    max-width: none;

    &-second {
      position: absolute;
      top: 38%;
      left: 17%;
    }
  }

  @media (min-width: 768px) {

    .section__anounce {
      overflow: hidden;

      &--title {
        font-size: 35px;
        line-height: 45px;
        padding-left: 155px;
        padding-right: 155px;
      }

      &--images {
        width: 420px;
        margin: 0 auto;
      }
    }

    .children__anounce--photo-second {
      left: 32%;
    }
  }

  @media (min-width: 1420px) {

    .section__anounce {
      padding-top: 50px;

      &--general {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
      }

      &--title {
        font-size: 55px;
        line-height: 75px;
        margin-left: 100px;
        padding-left: 100px;
        padding-right: 100px;
      }

      &--images::after {
        top: -100px;
      }

      &--img {
        width: 100%;
      }

      &--children {
        width: 968px;
      }
    }

    .children__anounce--photo-second {
      left: 140px;
      top: 90px;
    }
  }
