.reviews {
  padding-top: 50px;
  padding-bottom: 56px;

  &-container {
    position: relative;
  }

  &__list {
    padding-top: 40px;
    position: relative;
  }
}

.reviews__card {
  width: 270px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: $main-light-color;
  box-shadow: 0px 10px 30px 0px rgba(2, 2, 1, 0.1);
}

.reviews__card-image {
  @include size (104px, 104px);
  border: 7px solid rgb(234, 241, 249);
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 22px;
}

.reviews__text-wrapper {
  padding: 0 28px;

  &::before {
    @include pseudo;
    @include size(17px, 12px);
    @include bg-image ($size: contain);
    margin: 0 auto;
    background-image: url(../images/section-9/quotes.svg);
    margin-bottom: 26px;
  }
}

.reviews__card-name {
  @include font-settings(21px, 30px, 700);
  font-family: $main-text-font;
  color: $main-dark-color;
  letter-spacing: 0.63px;
  margin-bottom: 20px;
}

.reviews__card-text {
  @include font-settings(14px, 24px);
  letter-spacing: 0.42px;
  font-family: $main-text-font;
  color: $secondary-dark-color;

  &-link {
    color: $yellow-accent-color;
    display: block;
  }
}

.reviews__list-button-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 310px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews__list-button {
  @include size(40px, 40px);
  border-radius: 50%;
  border: none;
  background-color: $main-light-color;
  box-shadow: 2px 3px 9px 0px rgba(2, 2, 1, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &-icon {
    @include size(16px, 16px);
    fill: rgb(95, 124, 236);

    &--inactive {
      fill: rgb(234, 234, 234);
    }
  }
}

.btn-next,
.btn-prev {
  display: block;
  @include bg-image;
}

@media (max-width: 767px) {
  .reviews__card {
    &-one {
      display: none;
    }

    &-three {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .reviews {
    padding-top: 72px;
    padding-bottom: 54px;
  }

  .reviews__list {
    display: flex;
    justify-content: space-between;
  }

  .reviews__card {
    width: 380px;
    padding-top: 60px;
    padding-bottom: 55px;

    &-one {
      display: block;
    }

    &-three {
      display: block;
    }
  }

  .reviews__card-text {
    @include font-settings(16px, 30px);
    letter-spacing: 0.48px;
  }

  .reviews__text-wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1419px) {
  .reviews-container--tablet {
    width: 100%;
  }

  .reviews__list {
    position: relative;
    min-height: 650px;
    overflow: hidden;
  }

  .reviews__card {
    position: absolute;

    &-one {
      left: -50%;
      transform: translateX(50%);
    }

    &-two {
      left: 50%;
      transform: translateX(-50%);
    }

    &-three {
      right: -50%;
      transform: translateX(-50%);
    }
  }

  .reviews__list-button-wrapper {
    width: 420px;
  }

  .reviews__list-button {
    @include size(50px, 50px);
  }
}

@media (min-width: 1420px) {
  .reviews {
    padding-top: 56px;
    padding-bottom: 84px;
  }

  .reviews__list {
    align-items: flex-start;
  }

  .reviews__list-button-wrapper {
    display: none;
  }
}
