.courses-elements {
  padding-top: 26px;
  padding-bottom: 62px;
}

.courses-elements__list {
  counter-reset: item;
  margin-bottom: 44px;
}

.courses-elements__list-item {

  &:not(:last-child) {
    margin-bottom: 18px;
  }

  &::before {
    @include pseudo;
    margin: 0 auto;
    @include size(142px, 142px);
    @include bg-image;
    margin-bottom: 32px;
  }

  &-first::before {
    background-image: url(../images/section-05/icon-soft-skills.svg);
  }

  &-second::before {
    background-image: url(../images/section-05/icon-hard-skills.png);
  }

  &-third::before {
    background-image: url(../images/section-05/icon-real-project.svg);
  }

}

.courses-elements__list-item-title {
  @include font-settings(20px, 25px, 700);
  font-family: $main-text-font;
  color: $main-dark-color;
  margin-bottom: 18px;
  letter-spacing: 0.6px;

  &::before {
    @include size(20px, 20px);
    display: inline-block;
    counter-increment: item;
    content: " "counter(item) ". ";
  }

  &-first::before {
    color: rgb(199, 0, 124);
  }

  &-second::before {
    color: rgb(238, 193, 77);
  }

  &-third::before {
    color: rgb(95, 124, 236);
  }
}

.courses-elements__list-item-description {
  @include font-settings(14px, 24px);
  font-family: $main-text-font;
  color: $secondary-dark-color;
  letter-spacing: 0.42px;
}

.courses-elements-btn {
  background-color: $yellow-accent-color;
  box-shadow: 0px 13px 17.1px 0.9px rgba(238, 193, 77, 0.4);
  @include size(270px, 54px);
  border-radius: 28px;
  @include font-settings(13px, 54px, 700);
  color: $main-light-color;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 200ms linear;

  &:hover,
  &:focus {
    background-color: rgb(233, 182, 66);
  }
}

@media (min-width: 768px) {
  .courses-elements {
    padding-top: 46px;
    padding-bottom: 80px;
  }

  .courses-elements__list {
    margin-bottom: 56px;
  }

  .courses-elements__list-item {
    &:not(:last-child) {
      margin-bottom: 38px;
    }

    &::before {
      @include size(194px, 194px);
      margin-bottom: 36px;
    }
  }

  .courses-elements__list-item-title {
    @include font-settings(25px, 25px, 700);
    margin-bottom: 36px;
    letter-spacing: 0.75px;

    &::before {
      @include size(25px, 25px);
    }
  }

  .courses-elements__list-item-description {
    @include font-settings(16px, 30px);
    letter-spacing: 0.48px;
  }

  .courses-elements-btn {
    @include size(400px, 56px);
    @include font-settings(19px, 56px, 700);
  }
}

@media (min-width: 1420px) {
  .courses-elements {
    padding-top: 66px;
    padding-bottom: 78px;
  }

  .courses-elements__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }

  .courses-elements__list-item {
    flex-basis: 422px;
    margin-bottom: 0;

    &::before {
      @include size(200px, 200px);
      margin-bottom: 48px;
    }
  }

  .courses-elements__list-item-title {
    @include font-settings(30px, 30px, 700);
    margin-bottom: 32px;
    letter-spacing: 0.9px;

    &::before {
      @include size(30px, 30px);
    }
  }
}
