$main-text-font: 'HelveticaNeueCyr', sans-serif;
$section-title-font: 'Oswald', sans-serif;
$main-dark-color: rgb(44, 44, 44);
$secondary-dark-color:rgb(108, 110, 121);
$yellow-accent-color: rgb(254, 192, 42);
$main-light-color: rgb(255, 255, 255);

@media (min-width: 320px) {

.container {
    width: 290px;
    margin: 0 auto;
}

.section__sertificate {
    background-image: url(../images/section-8/section-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
​
.section-title {
    font-family: $section-title-font;
    font-weight: 700;
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    &::before {
        display: inline-block;
        content: '[';
        color: rgb(254, 192, 42);
        @include size(10px, 30px);
        margin-right: 6px;
      }
      &::after {
        display: inline-block;
        content: ']';
        color: rgb(254, 192, 42);
        @include size(10px, 45px);
        margin-left: 6px;
      }


}

}