h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

@media (min-width: 320px) {

    .container {
        min-width: 290px;
        padding: 0 30px;
    }

    .section-test {
        margin: 0 auto;
        padding-bottom: 34px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/icons__section-4/section-4-bg.svg);
        background-size: cover;
    }

    .testing {
            position: relative;

        &::before {
            position: absolute;
            display: block;
            margin: 0 auto;
            top: 40px;
            left: 45%;
            width: 48px;
            height: 48px;
            content: url(../images/icons__section-4/icon-sputnik-3.svg);
        }
    }

    .section-title {
        padding-top: 34px;
        margin-bottom: 22px;
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;

        &::before {
            display: inline-block;
            content: '[';
            color: rgb(254, 192, 42);
            @include size(10px, 30px);
            margin-right: 6px;
        }
          
        &::after {
            display: inline-block;
            content: ']';
            color: rgb(254, 192, 42);
            @include size(10px, 45px);
            margin-left: 6px;
        }
    
        &__test {
            font-family: HelveticaNeueCyr;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            padding: 0 20px;
            padding-bottom: 28px;
            color: #fff;
            padding-top: 105px;

            &__description {
                font-size: 14px;
                line-height: 24px;
                padding-left: 28px;
                padding-right: 24px;
                margin-bottom: 24px;
            }
        }


        &__questions {
            color: rgb(254, 192, 42);
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 26px;
        }

        &__item {
            font-size: 17px;
            line-height: 27px;
            margin-bottom: 34px;

            &-title {
                font-size: 14px;
                line-height: 17px;
                color: rgb(254, 192, 42);
                margin-bottom: 16px;
                font-weight: 400;
            }
        }

        &__answers-item {
            margin-bottom: 44px;

            &:last-child {
                margin-bottom: 30px;
            }
        }
    }

    .form {

        &-wrapper {
            position: relative;
        }

        &-input {
            position: absolute;
            z-index: -1;
            visibility: hidden;
        }

        &-label::before {
            display: block;
            margin: 0;
            content: "";
            width: 16px;
            height: 16px;
            outline: 2px solid rgb(238, 191, 62);
        }

    }

    .btn {
        display: inline-block;
        background: transparent;
        border: none;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        
        &-wrapper {
        display: flex;
        width: 140px;
        margin: 0 auto;
        }

        &-left {
            margin-right: 22px;
            width: 15px;
            height: 18px;
            background-image: url(../images/icons__section-4/prew.png);
        }

        &-right {
            margin-left: 22px;
            width: 15px;
            height: 18px;
            background-image: url(../images/icons__section-4/next.png);
        }
    }

    .count {
        
        &-wrapper {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        }

        &-answered {
            color: rgb(254, 192, 42);
        }
    }
}

@media (min-width: 768px) {

    .container {
        width: 710px;
        margin: 0;
    }

    .section-test {
        padding-bottom: 60px;
    }

    .testing {
        padding-left: 40px;
        margin: 0 auto;

        &::before {
            width: 68px;
            height: 68px;
            top: 70px;
        }
    }

    .section-title {
        padding-top: 40px;

        &__test {
            padding: 0 90px;
            padding-top: 170px;
            padding-bottom: 36px;
            font-size: 20px;
            line-height: 25px;

            &__description {
                padding-right: 96px;
                font-size: 16px;
                line-height: 30px;
                padding-left: 0;
            }
        }

        &__questions {
            padding-left: 0;
            position: relative;

            &-list {
            padding-left: 0;
            margin-top: 30px;
            }
        }

        &__answers-item {
            font-size: 15px;
        }
    }

    .btn-wrapper {
        position: absolute;
        top: 52%;
        left: 21%;
    }
}

@media (min-width: 1200px) {

    .container {
        min-width: 1140px;
    }

    .section-title {
        margin: 0;
        margin-bottom: 46px;
        text-align: left;

        &__test {
            padding: 0 190px;
            padding-top: 260px;
            padding-bottom: 68px;
            font-size: 30px;
            line-height: 40px;

            &::before {
                top: 120px;
                left: 675px;
            }

            &__description {
                width: 262px;
                height: auto;
                margin: 0;
                padding: 0;
            }
        }

    }

    .testing {

        &::before {
            width: 90px;
            height: 90px;
            top: 100px;
            left: 48%;

        }

        &__description {
            display: inline-block;
            margin-right: 126px;
        }
    }

}