$main-text-font: 'HelveticaNeueCyr', sans-serif;
$section-title-font: 'Oswald', sans-serif;
$main-dark-color: rgb(44, 44, 44);
$secondary-dark-color: rgb(108, 110, 121);
$yellow-accent-color: rgb(254, 192, 42);
$main-light-color: rgb(255, 255, 255);